<!--
  [] Desde elemento padre al elemento hijo
  () Desde el elemento hijo al elemento padre


-->

<!-- <app-student-list></app-student-list> -->


<!-- <button (click)="mostrarTarjeta = !mostrarTarjeta" class="btn btn-primary">MOSTRAR/OCULTAR TARJETA</button>
<app-my-card *ngIf="mostrarTarjeta" title="Hola mundo"></app-my-card>
 -->

<div class="row" #rowElement>
  <div class="col-3" *ngFor="let personaje of personajes">
    <app-my-card
      [bgColor]="getBgColor(personaje.status)"
      [title]="personaje.name"
      [imgSrc]="personaje.image"
      (clickEvent)="showData(personaje)"
    >

      <p>
        {{ personaje.species }}
      </p>


      <ng-template #genderTemplate>
        <p>{{ personaje.gender }}</p>
      </ng-template>

    </app-my-card>
  </div>
</div>


<!--

<app-my-card title="Hola mundo" imgSrc="https://placekitten.com/g/300/300"></app-my-card>


<app-my-card title="Pokemon" (clickEvent)="onClick($event)" ></app-my-card>


<app-my-card></app-my-card>
<app-my-card title="Batman"></app-my-card> -->
